
<header id="header" class="fixed-top header">

    <div class="fas fa-bars"><i class="bi bi-justify"></i></div>
    <a routerLink="/home" class="logo d-flex"><i class="bi bi-bag-fill"></i>
        <h3>E-Commerce</h3>
    </a>
    <div class="left d-flex">
        <a routerLink="/cadastro"><i class="bi bi-person-fill mx-3 logini"></i></a>
        <a href="#"><i class="bi bi-cart-fill carrinho"></i></a>
    </div>

</header>
<div class="icons fixed-top">
  <a class=" text-dark mx-2 m-1" href="#!"><i class="bi bi-facebook"></i></a>

  <!-- Twitter -->
  <a class=" text-dark mx-2 m-1" href="#!"><i class="bi bi-twitter"></i></a>

  <!-- Google -->
  <a class=" text-dark mx-2 m-1" href="#!"><i class="bi bi-google"></i></a>

  <!-- Instagram -->
  <a class=" text-dark m-1 mx-2" href="#!"><i class="bi bi-instagram"></i></a>
  <!--pinterest -->
  <a class=" text-dark m-1 mx-2" href="#!"><i class="bi bi-pinterest"></i></a>
</div>
